* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    height: 6%;
    width: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d6f56;
    margin: 20px auto 50px auto;
    border: 3px solid #37FF8B;
    box-shadow: 0 0 10px #37c7c7;
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button {
  --border-right: 6px;
  --text-stroke-color: #ffffff99;
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

h1 {
    width: 210px;
    color: #37c7c7;
    background: bisque;
    margin: 25px auto;
    text-shadow: 1px 2px 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 5px solid #d74949;
    border-radius: 10px;
    box-shadow: 0 0 10px #d74949;
}

.main {
    width: 45%;
    height: 70%;
    background-color: #fff;
    border: 5px solid #846464;
    border-radius: 20px;
    margin: 0 auto;
    background: beige;
    box-shadow: 0 0 10px darkgray;
}

.content {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0 0 20px;
}

.num_txt {
    height: 10%;
    width: 49%;
    color: #846464;
    font-size: 30px;
}

input#number {
    height: 35px;
    width: 60px;
    font-size: 20px;
    border-radius: 7px;
    border: 3px solid #846464;
    text-align: center;
    color: #846464;
    outline: none;
}

input#number:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #846464;
}

.output_section {
    height: 87%;
    width: 50%;
    margin: 10px 0 0 25px;
    font-size: 40px;
    color: #846464;
}
